.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.App-content {
  display: flex;
  margin: 0px 50px
}

h1 h2 h3 {
  margin: 0;
  padding: 0;
}